<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">BudgetU</a>
    <div class="navbar-nav">
        
        <%if(!user) {%>
            <a class="nav-link btn-signup" href="/users/signup">Sign Up</a>
            <a class="nav-link btn-login" href="/users/login">Login</a>
        <%} else {%>
            <a class="nav-link btn-profile" href='/users/overview'>Profile</a>
            <a class="nav-link btn-logout" href='/users/logout'>Logout</a> 
        <%}%>
    </div>
</nav>

<!-- <% if (!user) { %>
    <div class="container mt-5">
        <div class="popup-container">
            <div class="popup">
            
                New to BudgetU? Click <a href="/users/signup">here</a> to sign up.
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
<% } %> -->

<div>
    <div class="opening">
        <br><br>
        <h1>Make smarter financial decisions with BudgetU's</h1>
        <h2 id="dynamicText"></h2>
    </div>

    <div class="flex-container">
        <div class="flex-item1">
            <br><br><br>
            <h2>Welcome to BudgetU</h2>
            <p>Start taking control of your finances with BudgetU. Our platform offers powerful tools and insights to help you manage your money effectively.</p>
            <p>With BudgetU, you can track your spending, set savings goals, and gain valuable insights into your financial habits. Whether you're saving for a big purchase, paying off debt, or planning for the future, BudgetU has you covered.</p>
        </div>
        <div class="flex-item2">
            <img src="/images/logo2.png" alt="BudgetU Logo">
        </div>
    </div>


    <div class="flex-container2">
        <img src="/images/hackathon.png" alt="Hackathon Image">
        <img src="/images/hack2.jpg" alt="Hackathon Image 2">
        <div class="text-container">
            <h3>Budget Plans 4 U</h3>
            <p>The <strong>20-30-50</strong> budget split is a widely recognized budgeting guideline that suggests allocating your income into three main categories: 20% for savings, 30% for discretionary spending, 
                    and 50% for essentials. Here's why this budget split can be argued to be effective:</p>
            <p>(1) Savings (20%):</p>
            <ul>
                <li>Saving a significant portion of your income is crucial for building an emergency fund, saving for retirement, and achieving long-term financial goals.</li>
                <li>Allocating 20% of your income to savings ensures that you prioritize your future financial security and have a safety net for unexpected expenses.</li>
            </ul>
            <p>(2) Discrentionary Spending (30%):</p>
            <ul>
                <li>Discretionary spending encompasses non-essential expenses such as entertainment, dining out, travel, hobbies, and other lifestyle choices.</li>
                <li>Allocating 30% of your income to discretionary spending allows for flexibility and enjoyment without sacrificing your financial stability or long-term goals.</li>
            </ul>
            <p>Essentials (50%):</p>
            <ul>
                <li>Essentials include necessary expenses such as housing, utilities, groceries, transportation, healthcare, and insurance.</li>
                <li>Allocating 50% of your income to essentials ensures that you cover your basic needs and maintain a comfortable standard of living.</li>
            </ul>
        </div>
    </div>



    <div class="footer-index">
        <div class="flex-container-index">
            <div class="copyright">
                <p>© 2024 BudgetU. All rights reserved.</p>
            </div>
            <div class="icons">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="logo">
                <img src="/images/circle_logo.png" alt="Circle Logo">
            </div>
            
        </div>
    </div>

</div>


<!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Script to close popup -->
<script>
    $(document).ready(function(){
        $('.close').click(function(){
            $('.popup').hide();
        });
    });

    // JavaScript to simulate typing and deleting characters
    var texts = ["easy to use budget tracker", "progressive tracking with data", "unique financing experience"];
    var counter = 0;
    var index = 0;
    var isDeleting = false;

    function type() {
        var currentText = texts[counter];
        if (isDeleting) {
            document.getElementById("dynamicText").innerHTML = currentText.substring(0, index) + '<span class="typing-cursor"></span>';
            index--;
        } else {
            document.getElementById("dynamicText").innerHTML = currentText.substring(0, index + 1) + '<span class="typing-cursor"></span>';
            index++;
        }

        if (!isDeleting && index === currentText.length) {
            isDeleting = true;
            setTimeout(type, 200);
        } else if (isDeleting && index === 0) {
            isDeleting = false;
            counter++;
            if (counter === texts.length) {
                counter = 0;
            }
            setTimeout(type, 500);
        } else {
            setTimeout(type, 100);
        }
    }

    type();
</script>

</body>
</html> 