</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App</title>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">BudgetU</a>
        <div class="navbar-nav">
            
            <%if(!user) {%>
                <a class="nav-link btn-signup" href="/users/signup">Sign Up</a>
                <a class="nav-link btn-login" href="/users/login">Login</a>
            <%} else {%>
                <a class="nav-link btn-profile" href='/users/overview'>Profile</a>
                <a class="nav-link btn-logout" href='/users/logout'>Logout</a> 
            <%}%>
        </div>
    </nav>
    
    <% if ((errorMessages && errorMessages.length > 0) || (successMessages && successMessages.length > 0)) { %>
        <div>
            <% if (errorMessages && errorMessages.length > 0) { %>
                <div class="container-2">
                    <% errorMessages.forEach(message => { %>
                        <%= message %><br>
                    <% }); %>
                </div>
            <% } %>
            <% if (successMessages && successMessages.length > 0) { %>
                <div class="container-3">
                    <% successMessages.forEach(message => { %>
                        <%= message %><br>
                    <% }); %>
                </div>
            <% } %>
        </div>
    <% } %>



<div class="container2">
    <div class="container-fluid d-flex justify-content-center">
        <h1>Log in Here</h1><br><br>
    </div>
    <div class="container-fluid d-flex justify-content-center">
        <form action = '/users/login' method = 'POST' class="user-form">
            <label for="email">Email Address</label></td>
            <input type="email" id="email" name="email" required></td>
        
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        
            <input type="submit" value="Login">
        </form>
    </div>
</div>




<div class="footer-index2">
    <div class="flex-container-index2">
        <div class="copyright2">
            <p>© 2024 BudgetU. All rights reserved.</p>
        </div>
        <div class="icons2">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="logo2">
            <img src="/images/circle_logo.png" alt="Circle Logo">
        </div>
        
    </div>
</div>

<!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
