<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App</title>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">BudgetU</a>
        <div class="navbar-nav">
            
            <%if(!user) {%>
                <a class="nav-link btn-signup" href="/users/signup">Sign Up</a>
                <a class="nav-link btn-login" href="/users/login">Login</a>
            <%} else {%>
                <a class="nav-link btn-profile" href='/users/overview'>Profile</a>
                <a class="nav-link btn-logout" href='/users/logout'>Logout</a> 
            <%}%>
        </div>
    </nav>
    



<div class="container">
    <h2>Sign Up For An Account Here!</h2>
    <form action="/users" method="POST" class="user-form">
        <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" class="form-control" required>
        </div>
        <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" class="form-control" required>
        </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" minlength="8" required>
    </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>




<div class="footer-index">
    <div class="flex-container-index">
        <div class="copyright">
            <p>© 2024 BudgetU. All rights reserved.</p>
        </div>
        <div class="icons">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="logo">
            <img src="/images/circle_logo.png" alt="Circle Logo">
        </div>
        
    </div>
</div>


<!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



